<!DOCTYPE html>
<html>
    <head>
        <title>Movies With Friends</title>
        <!-- Google Icon Fonts used by Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS Framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <!-- JavaScript for Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>

    <nav class="navbar navbar-light bg-light" style="background-image: url('https://tse3.mm.bing.net/th?id=OIP.uT0xAmpLfRUlWT0mFWAaNQHaBS&pid=Api&P=0&w=549&h=96'); height:75px">
        <ul class="right">
            <!-- <li><a style="color:black; font-size: 25px;font-weight:bold" href="/movies/index">Movies</a></li>
            <li><a style="color:black; font-size: 25px;font-weight:bold;" href="/friends/index">Friends</a></li> -->
            <li>
            <% if (user) { %>
                <a class="navbar-brand" style="color:red; font-weight:bold; font-size:20px" href="/logout">Sign Out</a>
            <% } else { %>
                <a class="navbar-brand" style="color:red; font-weight:bold; font-size:20px" href="/auth/google">Sign In</a>
            <% } %>
            </li>
        </ul>
    </nav>

    <body>

    
