<%-include("../partials/header.ejs") %>


<h2>Enter a New Friend</h2>
<form action="/users" method="POST">
    <label>First Name:
        <input type="text" name="firstName">
    </label><br>
    <label>Last Name:
        <input type="text" name="lastName">
    </label><br>

    <input type="submit" value="Add Friend">
</form>


<%-include("../partials/footer.ejs") %>