<%-include("../partials/header.ejs") %>
<h1> Movie Night With <%= friend.firstName %>: </h1>

<a href="/movies/new">Add Movie</a>
<a href="/movies/index">See All Movies</a>

<%-include("../partials/footer.ejs") %>