<%-include("../partials/header.ejs") %>
<h1> Movie Night With <%= friend.firstName %>:</h1>


<div class="cater3-movingBG" style="height:500px">
        <a href="/movies/new">Add Movie</a><br>
        <a href="/movies/index">See All Movies</a>
</div>

<%-include("../partials/footer.ejs") %>