<%-include("./partials/header.ejs") %>

<h1>Movies With Friends</h1>
<p>Create an account or sign in, add your friends, then keep track of the movies you want to watch next time you're together!</p>
<a href="">Create an account</a>/<a href="/auth/google">Sign In</a>

<%-include("./partials/footer.ejs") %>