<%-include("./partials/header.ejs") %>

<div class="cater3-movingBG" style="margin-top:100px">
    <div class="flyIn lineFour">Movie Night With Friends</div>

    <div class="flyinTxtCont">
    <div class="flyIn lineOne">Keep a running list of movies you'd</div>
    <div class="flyIn lineTwo">like to watch with your friends.</div>
    <div class="flyIn lineThree">Add a friend. Add a movie.</div>
    <div class="flyIn lineFive">WATCH ALL NIGHT LONG!</div>
    </div>
    </div>

<%-include("./partials/footer.ejs") %>