<%-include("./partials/header.ejs") %>

<h1>MOVIE NIGHT!</h1>

<div class="cater3-movingBG" style="height:500px">

    <a href="friends/index">All Friends</a><br>
    <a href="friends/new">Add a Friend</a>
    

</div>




<%-include("./partials/footer.ejs") %>


