<%-include("./partials/header.ejs") %>
<h1>Who am I watching a movie with?</h1>



<form action='/users' method='POST'>
    <label>Friends:
        <input type="text" placeholder="Add a friend to your watchlist here">
    </label><br>
<input type="submit" value="Add">
</form>




<%-include("./partials/footer.ejs") %>