<%-include("./partials/header.ejs") %>

<h1>MOVIE NIGHT!</h1>

<<<<<<< HEAD
<div class="cater3-movingBG" style="height:500px">
=======
>>>>>>> 62c3ddd555a25bbc31f94c05f7dbcc075ce0fffb

    <a href="friends/index">All Friends</a><br>
    <a href="friends/new">Add a Friend</a>
    

 




<%-include("./partials/footer.ejs") %>


