<%-include("../partials/header.ejs") %>

<h1>Hello World</h1>
<!-- <h2>Enter a New Movie</h2>
<form action="/friends" method="POST">
    <label>Title:
        <input type="text" name="title">
    </label>
    <input type="submit" value="Add Movie">
</form> -->


<%-include("../partials/footer.ejs") %>