<%-include("../partials/header.ejs") %>

<h2>Enter a New Movie</h2>
<form action="/movies" method="POST">
    <label>Title:
        <input type="text" name="title">
    </label><br>
    <label>Rotten Tomatoes %:
        <input type="number" name="rottenTomatoes">
    </label><br>

    <input type="submit" value="Add Movie">
</form>

<%-include("../partials/footer.ejs") %>